@layer base {
  .fire-container {
    @apply grid gap-x-[var(--fire-content-gap-x)];
    grid-template-columns:
      [full-width-start] minmax(calc(var(--fire-content-padding) - var(--fire-content-gap-x)), 1fr)
      [main-start col-1-start] minmax(0, calc(var(--fire-content-max-width) / 4))
      [col-1-end col-2-start] minmax(0, calc(var(--fire-content-max-width) / 4))
      [col-2-end col-3-start] minmax(0, calc(var(--fire-content-max-width) / 4))
      [col-3-end col-4-start] minmax(0, calc(var(--fire-content-max-width) / 4))
      [col-4-end main-end] minmax(calc(var(--fire-content-padding) - var(--fire-content-gap-x)), 1fr)
      [full-width-end];

    @screen md {
      grid-template-columns:
        [full-width-start] minmax(calc(var(--fire-content-padding) - var(--fire-content-gap-x)), 1fr)
        [main-start col-1-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-1-end col-2-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-2-end col-3-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-3-end col-4-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-4-end col-5-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-5-end col-6-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-6-end col-7-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-7-end col-8-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-8-end col-9-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-9-end col-10-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-10-end col-11-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-11-end col-12-start] minmax(0, calc(var(--fire-content-max-width) / 12))
        [col-12-end main-end] minmax(calc(var(--fire-content-padding) - var(--fire-content-gap-x)), 1fr)
        [full-width-end];
    }

    > *:not(.full-width, .left, .right, .left-breakout, .right-breakout):not([class*='col-']) {
      @apply col-[main];
    }

    .suck {
      &-left {
        @apply -ml-[calc(var(--fire-content-gap-x)/2)];
      }
      &-right {
        @apply -mr-[calc(var(--fire-content-gap-x)/2)];
      }
    }

    .full-width {
      @apply col-[full-width] grid grid-cols-subgrid;

      > *:not(.left, .right, .left-breakout, .right-breakout) {
        @apply col-[main];
      }
    }

    .left {
      @apply col-[main] md:col-[col-1/col-6];
    }

    .right {
      @apply col-[main] md:col-[col-7/col-12];
    }

    .left-breakout {
      @apply col-[full-width] md:col-[full-width/col-6];
    }

    .right-breakout {
      @apply col-[full-width] md:col-[col-7/full-width];
    }
  }

  .grid-stack {
    @apply grid relative;
    grid-template-areas: 'grid-stack';
    > * {
      grid-area: grid-stack;
    }
  }
}
