@layer components {
  button {
    @apply cursor-pointer;
    @apply transition-all duration-200 cursor-pointer;

    &:focus-visible {
      outline: thin dotted theme(colors.gray.500);
    }
  }

  .button {
    @apply inline-block px-4 py-2;
    @apply rounded;
    @apply font-bold text-white no-underline;
    @apply transition-all duration-200 cursor-pointer;

    &:focus {
      outline: none;
    }

    &-primary {
      @apply bg-gray-500;

      &:hover,
      &:active {
        @apply bg-gray-700;
      }

      &:focus {
        box-shadow: 0px 0px 0px 2px theme(colors.gray.700);
      }
    }
  }
}
