@layer components {
  /* a {
    @apply text-gray-500 underline;
    @apply transition-all duration-200 cursor-pointer;

    &:focus-visible {
      outline: thin dotted theme(colors.gray.400);
    }
  } */

  .link {
    @apply inline-flex items-center;
    @apply leading-none tracking-wide no-underline font-body;
    @apply transition-all duration-200 cursor-pointer;

    svg {
      @apply w-4;

      &:first-child {
        @apply mr-2;
      }

      &:last-child {
        @apply ml-2;
      }
    }

    &-primary {
      @apply text-gray-500;

      &:hover,
      &:active {
        @apply text-gray-700;
      }
    }
  }
}
